POSTGRES_USER=documind
POSTGRES_PASSWORD=change_me
POSTGRES_DB=documind
DATABASE_URL=postgresql+asyncpg://documind:change_me@db:5432/documind

DEBUG=false
OPENAI_API_KEY=sk-...
COHERE_API_KEY=

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

